.order_page_container {
  padding: 20px;
}

.order_page_header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.order_page_controls {
  display: flex;
  gap: 20px;
}

.order_page_header button {
  padding: 10px 20px;
  border: none;
  background-color: #eee;
  color: #222831;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.order_page_summary {
  margin-bottom: 40px;
}

.printOrder {
  padding: 20px;
}

.printOrder table thead th div {
  display: none;
}
.printOrder .filter_global {
  display: none;
}

.printOrder table tr th {
  font-size: 14px;
}
.printOrder table tbody tr th {
  font-size: 12px;
}

.printOrder table thead th {
  font-size: 14px;
}
.printOrder table tbody tr td {
  font-size: 12px;
}

.printOrder thead tr th span {
  font-size: 14px;
}

.printOrder tfoot tr th {
  font-size: 14px;
}

.printOrder table th {
  padding: 10px 0;
}

.hiden {
  display: none;
}

.printOrder div {
  display: inline;
}

@media screen and (max-width: 768px) {
  .order_page_header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 0;
    padding-bottom: 20px;
  }
  .order_page_header h2 {
    font-size: 18px;
  }
  .order_page_summary {
    display: table;
  }
  .order_page_container table {
    display: table;
  }
  .order_page_summary tr th {
    padding: 0 5px;
    font-size: 14px;
  }

  .order_page_summary tbody tr th {
    font-weight: 400;
  }
}

@media screen and (max-width: 425px) {
  .order_page_container {
    padding: 10px;
  }

  .order_page_summary {
    display: block;
  }
  .order_page_container table {
    display: block;
  }
  .order_page_controls button {
    font-size: 9px;
    padding: 7px;
  }
  .order_page_summary {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .order_page_summary tr th {
    white-space: nowrap;
    font-size: 12px;
    padding: 5px;
  }

  .order_page_summary tbody tr th {
    /* font-size: 14px; */
  }
}
