.select {
  width: 100%;
  position: relative;
}

.select_container {
  width: auto;
  display: flex;
  border: 3px solid #393e46;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  cursor: pointer;
  background-color: #222831;
  transition: 0.3s ease-in-out;
}

.select_container:focus-within {
  box-shadow: 0px 0px 5px rgba(56, 169, 240, 0.75);
  border-color: rgba(56, 169, 240, 0.75);
  transition: 0.3s ease-in-out;
}

.select_container input {
  border: none;
  outline: none;
  color: #eee;
  width: 100%;
  cursor: pointer;
  box-shadow: none !important;
}

.select_Svg_Container svg {
  padding-right: 15px;
}

.select_Results {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 3px solid #393e46;
  border-radius: 6px;
  max-height: 250px;
  background-color: #222831;
  z-index: 1000;
  border-top: none;
}

.select_Results p {
  color: #eee;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.select_Results p:hover {
  background-color: #393e46;
}

.disabled {
  opacity: 0.5;
}
