.clinet_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.client_button {
  display: flex;
  gap: 20px;
}

.client_button button,
.client_button a {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.client_button a {
  background-color: #eeeeee;
  color: #222831;
  text-decoration: none;
}

.client_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 40px;
}

.client_info_container {
  display: flex;
  justify-content: start;
  width: 100%;
}

.clinet_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.clinet_info p {
  font-size: 20px;
  border-bottom: 3px solid #393e46;
  padding-bottom: 10px;
}

.clinet_info span {
  font-weight: 700;
  font-size: 20px;
}

.client_table {
  width: 100%;
}
