.clinet_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.client_button {
  display: flex;
  gap: 20px;
}

.client_button button {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.client_button button:first-child {
  background-color: #eeeeee;
  color: #222831;
}

.client_body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.client_left {
}

.client_right {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 25px;
}

.clinet_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.clinet_info p {
  font-size: 28px;
  border-bottom: 3px solid #393e46;
  width: 100%;
  padding-bottom: 10px;
}

.clinet_info span {
  font-weight: 700;
  font-size: 30px;
}
