.client_form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client_form_container {
  padding: 50px 0;
  border-radius: 6px;
  background-color: #222831;
  width: 60%;
}

.client_form_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.client_form_header svg {
  font-size: 36px;
  cursor: pointer;
}

.client_form_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.client_form_inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.client_form_inputContainer input {
  font-size: 18px;
  border-radius: 6px;
  padding: 15px 10px;
  background-color: #222831;
  border: 3px solid #393e46;
  color: #eee;
  outline: none;
  transition: 0.3s ease-in-out;
}

.client_form_inputContainer input:focus {
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(56, 169, 240, 0.75);
  border-color: rgba(56, 169, 240, 0.75);
}

.client_form_inputContainer input::placeholder {
  color: #eee;
}

.error_message {
  font-size: 18px;
  color: red;
  font-weight: 600;
}

.client_form_submit {
  margin-top: 40px;
  color: white;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  background: #00adb5;
  padding: 15px 0;
  cursor: pointer;
}

.client_form_reset {
  outline: none;
  border: 1px solid #eee;
  padding: 15px 0;
  border-radius: 6px;
  background-color: #eee;
  color: #222831;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.client_form_reset:hover {
  box-shadow: 0 0 5px 2px rgba(56, 169, 240, 0.75);
  border-color: rgba(56, 169, 240, 0.75);
  transition: 0.3s ease-in-out;
}
